.customcolumns > div {
  display: flex;
  flex-direction: column;
}

.customcolumns img {
  width: 100%;
}

.customcolumns > div > div {
  order: 1;
}

.customcolumns > div > .customcolumns-img-col {
  order: 0;
}

.customcolumns > div > .customcolumns-img-col img {
  display: block;
}

.customcolumns-3-cols {
  background-color: aquamarine;
}

.testtest {
  font-size: 50px;
}

@media (width >= 900px) {
  .customcolumns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .customcolumns > div > div {
    flex: 1;
    order: unset;
  }
}
